In [1]:
#Install & load sqlite3

#!pip install sqlite3  ##Uncomment this code only if you are working in a local environment to install sqlite3
import sqlite3

In [2]:
# Connecting to sqlite
# connection object
conn = sqlite3.connect('INSTRUCTOR.db')

In [3]:
# create cursur for implement sql commands

cursor_obj = conn.cursor()


print("Data basese is created successfully!")

Data basese is created successfully!

In [5]:
# drop tabale if it exists before
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

## create table

In [7]:
#CREATING TABLE

table = """ create table IF NOT EXISTS 
INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), 
LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));""" 

cursor_obj.execute(table)

print("Table is ready")

Table is ready

## insert data in table

In [8]:
cursor_obj.execute(''' insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'Toronto', 'CA')''')

## Add more data (rows)

In [9]:
cursor_obj.execute(''' insert into INSTRUCTOR values 
(2, 'Raul', "Chong", "'Markham", "CA"),
(3, "Hima", "Vasudeman", "Chicago", "US")''')

## Query data in the table

### RETRIEVE DATA FROM TABLE

## fetch data

In [12]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")

output_all = cursor_obj.fetchall()

for row_all in output_all:
    print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'Toronto', 'CA')
(2, 'Raul', 'Chong', "'Markham", 'CA')
(3, 'Hima', 'Vasudeman', 'Chicago', 'US')

In [14]:
## fetch few rows from table
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("all the data")

output_many = cursor_obj.fetchmany(2)
for row_many in output_many:
    print(row_many)

all the data
(1, 'Rav', 'Ahuja', 'Toronto', 'CA')
(2, 'Raul', 'Chong', "'Markham", 'CA')

In [18]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("all the data")

output_column = cursor_obj.fetchall()
for fetch in output_column:
    print(fetch)

all the data
('Rav',)
('Raul',)
('Hima',)

### update statement

In [28]:
query_update = '''update INSTRUCTOR set CITY = "MOOSETOWN" where FNAME = "Rav"'''
cursor_obj.execute(query_update)


statement = '''select * from instructor'''
cursor_obj.execute(statement)

print("all the data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
    print(row)

all the data
(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', "'Markham", 'CA')

## Retrieve data into Pandas

In [32]:
!pip install pandas
import pandas as pd
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from instructor;", conn)

#print the dataframe
df

Requirement already satisfied: pandas in c:\users\gebruiker\anaconda3\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\gebruiker\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong   'Markham    CA
2   3  Hima  Vasudeman    Chicago    US

In [31]:
df = pd.read_sql_query("select * from instructor;", conn)

#print the dataframe
pd

In [33]:
#print just the LNAME for first row in the pandas data frame
df.LNAME[0]

'Ahuja'

In [34]:
df.shape

(3, 5)

## close the connection

In [35]:
conn.close()