In [1]:
#Install & load sqlite3

#!pip install sqlite3  ##Uncomment this code only if you are working in a local environment to install sqlite3
import sqlite3

In [2]:
# Connecting to sqlite
# connection object
conn = sqlite3.connect('INSTRUCTOR.db')

In [3]:
# create cursur for implement sql commands

cursor_obj = conn.cursor()


print("Data basese is created successfully!")

Data basese is created successfully!

In [5]:
# drop tabale if it exists before
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

## create table

In [7]:
#CREATING TABLE

table = """ create table IF NOT EXISTS 
INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), 
LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));""" 

cursor_obj.execute(table)

print("Table is ready")

Table is ready

## insert data in table

In [8]:
cursor_obj.execute(''' insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'Toronto', 'CA')''')

## Add more data (rows)

In [9]:
cursor_obj.execute(''' insert into INSTRUCTOR values 
(2, 'Raul', "Chong", "'Markham", "CA"),
(3, "Hima", "Vasudeman", "Chicago", "US")''')

## Query data in the table

### RETRIEVE DATA FROM TABLE

## fetch data

In [12]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")

output_all = cursor_obj.fetchall()

for row_all in output_all:
    print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'Toronto', 'CA')
(2, 'Raul', 'Chong', "'Markham", 'CA')
(3, 'Hima', 'Vasudeman', 'Chicago', 'US')

In [14]:
## fetch few rows from table
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("all the data")

output_many = cursor_obj.fetchmany(2)
for row_many in output_many:
    print(row_many)

all the data
(1, 'Rav', 'Ahuja', 'Toronto', 'CA')
(2, 'Raul', 'Chong', "'Markham", 'CA')

In [18]:
# Fetch only FNAME from the table
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("all the data")

output_column = cursor_obj.fetchall()
for fetch in output_column:
    print(fetch)

all the data
('Rav',)
('Raul',)
('Hima',)

### update statement

In [28]:
query_update = '''update INSTRUCTOR set CITY = "MOOSETOWN" where FNAME = "Rav"'''
cursor_obj.execute(query_update)


statement = '''select * from instructor'''
cursor_obj.execute(statement)

print("all the data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
    print(row)

all the data
(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', "'Markham", 'CA')

## Retrieve data into Pandas

In [32]:
!pip install pandas
import pandas as pd
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from instructor;", conn)

#print the dataframe
df

Requirement already satisfied: pandas in c:\users\gebruiker\anaconda3\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\gebruiker\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\gebruiker\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong   'Markham    CA
2   3  Hima  Vasudeman    Chicago    US

In [31]:
df = pd.read_sql_query("select * from instructor;", conn)

#print the dataframe
pd

In [33]:
#print just the LNAME for first row in the pandas data frame
df.LNAME[0]

'Ahuja'

In [34]:
df.shape

(3, 5)

## close the connection

In [35]:
conn.close()

In [36]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\gebruiker\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\gebruiker\appdata\roaming\python\python312\site-packages (from ipython-sql) (3.5.0)
Requirement already satisfied: ipython in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\gebruiker\appdata\roaming\python\python312\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\gebruiker\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\gebruiker\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\gebruiker\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\gebruiker\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\gebruiker\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\gebruiker\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\gebruiker\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)

In [37]:
%load_ext sql

In [38]:
%sql sqlite:///chinook.db

In [39]:
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///chinook.db
Done.

[]

In [40]:
%pwed

UsageError: Line magic function `%pwed` not found.

In [41]:
%pwd

'C:\\Users\\Gebruiker\\Projects\\Data_science\\data engineering'

In [42]:
%ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 0223-9B06

 Directory of C:\Users\Gebruiker\Projects\Data_science\data engineering

10/29/2025  05:26 PM    <DIR>          .
10/04/2025  11:18 PM    <DIR>          ..
10/04/2025  11:46 PM               200 .gitignore
10/28/2025  02:04 PM    <DIR>          .ipynb_checkpoints
10/10/2025  06:39 PM             8,192 bookshop.db
10/29/2025  05:25 PM                 0 chinook.db
10/28/2025  02:46 PM             8,192 INSTRUCTOR.db
10/28/2025  02:50 PM             4,616 INSTRUCTOR.db-journal
10/05/2025  09:51 AM               178 PETSHOP.csv
10/05/2025  10:24 AM             8,192 petshop.db
10/29/2025  05:26 PM            19,892 PYTHON_SQL_.ipynb
10/04/2025  11:37 PM                18 README.md
10/10/2025  06:41 PM            28,326 sql_practice.ipynb
              10 File(s)         77,806 bytes
               3 Dir(s)  94,978,887,680 bytes free

In [43]:
%load_ext sql
%sql sqlite:///chinbook.db
%sql SELECT name FROM sqlite_master WHERE type='table';

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * sqlite:///chinbook.db
   sqlite:///chinook.db
Done.

[('Album',),
 ('Artist',),
 ('Customer',),
 ('Employee',),
 ('Genre',),
 ('Invoice',),
 ('InvoiceLine',),
 ('MediaType',),
 ('Playlist',),
 ('PlaylistTrack',),
 ('Track',)]

In [46]:
import csv, sqlite3

con = sqlite3.connect("SQLiteMagic.db")
cur = con.cursor()

In [47]:
%sql sqlite:///SQLiteMagic.db

In [48]:
%%sql

CREATE TABLE INTERNATIONAL_STUDENT_TEST_SCORES (
	country VARCHAR(50),
	first_name VARCHAR(50),
	last_name VARCHAR(50),
	test_score INT
);
INSERT INTO INTERNATIONAL_STUDENT_TEST_SCORES (country, first_name, last_name, test_score)
VALUES
('United States', 'Marshall', 'Bernadot', 54),
('Ghana', 'Celinda', 'Malkin', 51),
('Ukraine', 'Guillermo', 'Furze', 53),
('Greece', 'Aharon', 'Tunnow', 48),
('Russia', 'Bail', 'Goodwin', 46),
('Poland', 'Cole', 'Winteringham', 49),
('Sweden', 'Emlyn', 'Erricker', 55),
('Russia', 'Cathee', 'Sivewright', 49),
('China', 'Barny', 'Ingerson', 57),
('Uganda', 'Sharla', 'Papaccio', 55),
('China', 'Stella', 'Youens', 51),
('Poland', 'Julio', 'Buesden', 48),
('United States', 'Tiffie', 'Cosely', 58),
('Poland', 'Auroora', 'Stiffell', 45),
('China', 'Clarita', 'Huet', 52),
('Poland', 'Shannon', 'Goulden', 45),
('Philippines', 'Emylee', 'Privost', 50),
('France', 'Madelina', 'Burk', 49),
('China', 'Saunderson', 'Root', 58),
('Indonesia', 'Bo', 'Waring', 55),
('China', 'Hollis', 'Domotor', 45),
('Russia', 'Robbie', 'Collip', 46),
('Philippines', 'Davon', 'Donisi', 46),
('China', 'Cristabel', 'Radeliffe', 48),
('China', 'Wallis', 'Bartleet', 58),
('Moldova', 'Arleen', 'Stailey', 38),
('Ireland', 'Mendel', 'Grumble', 58),
('China', 'Sallyann', 'Exley', 51),
('Mexico', 'Kain', 'Swaite', 46),
('Indonesia', 'Alonso', 'Bulteel', 45),
('Armenia', 'Anatol', 'Tankus', 51),
('Indonesia', 'Coralyn', 'Dawkins', 48),
('China', 'Deanne', 'Edwinson', 45),
('China', 'Georgiana', 'Epple', 51),
('Portugal', 'Bartlet', 'Breese', 56),
('Azerbaijan', 'Idalina', 'Lukash', 50),
('France', 'Livvie', 'Flory', 54),
('Malaysia', 'Nonie', 'Borit', 48),
('Indonesia', 'Clio', 'Mugg', 47),
('Brazil', 'Westley', 'Measor', 48),
('Philippines', 'Katrinka', 'Sibbert', 51),
('Poland', 'Valentia', 'Mounch', 50),
('Norway', 'Sheilah', 'Hedditch', 53),
('Papua New Guinea', 'Itch', 'Jubb', 50),
('Latvia', 'Stesha', 'Garnson', 53),
('Canada', 'Cristionna', 'Wadmore', 46),
('China', 'Lianna', 'Gatward', 43),
('Guatemala', 'Tanney', 'Vials', 48),
('France', 'Alma', 'Zavittieri', 44),
('China', 'Alvira', 'Tamas', 50),
('United States', 'Shanon', 'Peres', 45),
('Sweden', 'Maisey', 'Lynas', 53),
('Indonesia', 'Kip', 'Hothersall', 46),
('China', 'Cash', 'Landis', 48),
('Panama', 'Kennith', 'Digance', 45),
('China', 'Ulberto', 'Riggeard', 48),
('Switzerland', 'Judy', 'Gilligan', 49),
('Philippines', 'Tod', 'Trevaskus', 52),
('Brazil', 'Herold', 'Heggs', 44),
('Latvia', 'Verney', 'Note', 50),
('Poland', 'Temp', 'Ribey', 50),
('China', 'Conroy', 'Egdal', 48),
('Japan', 'Gabie', 'Alessandone', 47),
('Ukraine', 'Devlen', 'Chaperlin', 54),
('France', 'Babbette', 'Turner', 51),
('Czech Republic', 'Virgil', 'Scotney', 52),
('Tajikistan', 'Zorina', 'Bedow', 49),
('China', 'Aidan', 'Rudeyeard', 50),
('Ireland', 'Saunder', 'MacLice', 48),
('France', 'Waly', 'Brunstan', 53),
('China', 'Gisele', 'Enns', 52),
('Peru', 'Mina', 'Winchester', 48),
('Japan', 'Torie', 'MacShirrie', 50),
('Russia', 'Benjamen', 'Kenford', 51),
('China', 'Etan', 'Burn', 53),
('Russia', 'Merralee', 'Chaperlin', 38),
('Indonesia', 'Lanny', 'Malam', 49),
('Canada', 'Wilhelm', 'Deeprose', 54),
('Czech Republic', 'Lari', 'Hillhouse', 48),
('China', 'Ossie', 'Woodley', 52),
('Macedonia', 'April', 'Tyer', 50),
('Vietnam', 'Madelon', 'Dansey', 53),
('Ukraine', 'Korella', 'McNamee', 52),
('Jamaica', 'Linnea', 'Cannam', 43),
('China', 'Mart', 'Coling', 52),
('Indonesia', 'Marna', 'Causbey', 47),
('China', 'Berni', 'Daintier', 55),
('Poland', 'Cynthia', 'Hassell', 49),
('Canada', 'Carma', 'Schule', 49),
('Indonesia', 'Malia', 'Blight', 48),
('China', 'Paulo', 'Seivertsen', 47),
('Niger', 'Kaylee', 'Hearley', 54),
('Japan', 'Maure', 'Jandak', 46),
('Argentina', 'Foss', 'Feavers', 45),
('Venezuela', 'Ron', 'Leggitt', 60),
('Russia', 'Flint', 'Gokes', 40),
('China', 'Linet', 'Conelly', 52),
('Philippines', 'Nikolas', 'Birtwell', 57),
('Australia', 'Eduard', 'Leipelt', 53)

 * sqlite:///SQLiteMagic.db
   sqlite:///chinbook.db
   sqlite:///chinook.db
Done.
99 rows affected.

[]

### import pretty table

In [49]:
# Install the 'ipython-sql' and 'prettytable' libraries using pip
!pip install ipython-sql prettytable

# Import the 'prettytable' library, which is used to display data in a formatted table
import prettytable

# Set the default display format for prettytable to 'DEFAULT' (i.e., a simple table format)
prettytable.DEFAULT = 'DEFAULT'

Requirement already satisfied: ipython-sql in c:\users\gebruiker\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\gebruiker\appdata\roaming\python\python312\site-packages (3.5.0)
Requirement already satisfied: ipython in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython-sql) (8.27.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython-sql) (2.0.34)
Requirement already satisfied: sqlparse in c:\users\gebruiker\appdata\roaming\python\python312\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\gebruiker\anaconda3\lib\site-packages (from prettytable) (0.2.5)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\gebruiker\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\gebruiker\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\gebruiker\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\gebruiker\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\gebruiker\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\gebruiker\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\gebruiker\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~harset-normalizer (C:\Users\Gebruiker\anaconda3\Lib\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)
WARNING: Ignoring invalid distribution ~qlalchemy (C:\Users\Gebruiker\AppData\Roaming\Python\Python312\site-packages)

In [50]:
country = "Canada"
%sql select * from INTERNATIONAL_STUDENT_TEST_SCORES where country = :country

 * sqlite:///SQLiteMagic.db
   sqlite:///chinbook.db
   sqlite:///chinook.db
Done.

[('Canada', 'Cristionna', 'Wadmore', 46),
 ('Canada', 'Wilhelm', 'Deeprose', 54),
 ('Canada', 'Carma', 'Schule', 49)]

In [52]:
test_score_distribution = %sql SELECT test_score as "Test_Score", count(*) as "Frequency" from INTERNATIONAL_STUDENT_TEST_SCORES GROUP BY test_score;
test_score_distribution

 * sqlite:///SQLiteMagic.db
   sqlite:///chinbook.db
   sqlite:///chinook.db
Done.

[(38, 2),
 (40, 1),
 (43, 2),
 (44, 2),
 (45, 8),
 (46, 7),
 (47, 4),
 (48, 14),
 (49, 8),
 (50, 10),
 (51, 8),
 (52, 8),
 (53, 8),
 (54, 5),
 (55, 4),
 (56, 1),
 (57, 2),
 (58, 4),
 (60, 1)]